<div class="form-container">
  <p>
    <mat-form-field appearance="outline" class="class">
      <mat-label>Username</mat-label>
      <input matInput />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" class="class">
      <mat-label>Email</mat-label>
      <input matInput />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" class="class">
      <mat-label>Full Name</mat-label>
      <input matInput />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" class="class">
      <mat-label>Full Name</mat-label>
      <input matInput />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" class="class">
      <mat-label>Full Name</mat-label>
      <input matInput />
    </mat-form-field>
  </p>
</div>
