.mat-mdc-form-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

p {
  margin: 0;
  padding: 0;
}
