.about-page {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 6em;
  gap: 0.5em;
  height: 68vh;
}

.about-page h3 {
  border: 1px solid rgb(64, 103, 186);
  border-radius: 2em;
  background: #fff;
  padding: 0.3em 10em;
  font-size: 1.5em;
  font-weight: bold;
  box-shadow: 5px 5px 5px rgb(70, 70, 70);
}
.about-page p {
  border: 1px solid #fff;
  border-radius: 2em;
  padding: 0.7em;
  color: #fff;
  background: linear-gradient(
    0deg,
    rgba(64, 103, 186, 1) 0%,
    rgba(196, 196, 196, 1) 100%
  );
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 2em;
  box-shadow: 5px 5px 5px rgb(70, 70, 70);
}
