<div class="container">
  <form [formGroup]="updateNewsForm" (ngSubmit)="onSubmit()">
    <h2>Update News</h2>
    <div class="form-container">
      <p class="field field-icon">
        <label for="title">Title</label>
        <input
          type="text"
          class="input-error"
          name="title"
          id="title"
          formControlName="title"
        />
      </p>
      <ng-container *ngIf="updateNewsForm.get('title')?.touched">
        <p
          class="error"
          *ngIf="updateNewsForm.get('title')?.errors?.['required']"
        >
          Title is required!
        </p>
        <p
          class="error"
          *ngIf="updateNewsForm.get('title')?.errors?.['minlength']"
        >
          Should be at least
          {{ updateNewsForm.get('title')?.errors?.['minlength']['requiredLength'] }}
          characters!
        </p>
      </ng-container>

      <p class="field field-icon">
        <label for="imageUrl">Image Url</label>
        <input
          type="text"
          class="input-error"
          name="imageUrl"
          id="imageUrl"
          formControlName="imageUrl"
        />
      </p>
      <ng-container *ngIf="updateNewsForm.get('imageUrl')?.touched">
        <p
          class="error"
          *ngIf="updateNewsForm.get('imageUrl')?.errors?.['required']"
        >
          Image URL is required!
        </p>
      </ng-container>

      <div class="field field-icon content-label">
        <label class="content-label" for="content">Content</label>
        <textarea
          cols="30"
          rows="10"
          type="text"
          class="textarea input-error"
          name="content"
          id="content"
          formControlName="content"
        ></textarea>
      </div>
      <ng-container *ngIf="updateNewsForm.get('content')?.touched">
        <p
          class="error"
          *ngIf="updateNewsForm.get('content')?.errors?.['required']"
        >
          The content is required!
        </p>
        <p
          class="error"
          *ngIf="updateNewsForm.get('content')?.errors?.['minlength']"
        >
          Should be at least
          {{ updateNewsForm.get('content')?.errors?.['minlength']['requiredLength'] }}
          characters!
        </p>
      </ng-container>
      <div class="upload-form-btns">
        <button
          [disabled]="updateNewsForm.invalid"
          [style]="{
            backgroundColor: updateNewsForm.invalid ? 'grey' : 'white'
          }"
        >
          Publish
        </button>

        <button type="reset" (click)="cancelSubmit()">Cancel</button>
      </div>
    </div>
  </form>
</div>
