.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 4em;
}

.nav-container ul {
  display: flex;
  gap: 2em;
}

.nav-container ul li {
  display: block;
  
}

.nav-container ul li a {
  text-decoration: none;
  color: #fff;
  padding: 1.5em;
}

.nav-container ul li:hover,
.nav-container ul li a:hover {
  background: #fff;
  color: rgb(64, 103, 186);
}
