.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.news-card {
    display: flex;
    flex-direction: column;
    max-width: 14em;
    max-height: 12em;
}

h1 {
  color: rgb(64, 103, 186);
  background-color: #fff;
  text-align: center;
  border-radius: 2em;
  box-shadow: 5px 5px 5px rgb(70, 70, 70);
}
