@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.welcome {
  display: flex;
  flex-direction: column;
  gap: 7em;
  margin-top: 6em;
}

.welcome button {
  color: rgb(64, 103, 186);
  font-size: 2em;
  padding: 0.6em;
  width: 50%;
  margin: 0 auto;
  border-radius: 2em;
  cursor: pointer;
}

.welcome button:hover {
    background-color: rgb(64, 103, 186);
    color: #fff;
}

.welcome-title {
  background-color: #fff;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 6em;
}

.welcome-title p {
  font-family: "Playfair Display", serif;
  font-size: 5em;
  text-align: center;
  margin-top: 50px;
  color: rgb(64, 103, 186);
  margin: 0;
  padding: 1em;
}
